.root {
     -fx-background-image: url("../images/linen-background.jpg");
}
.Label {
    -fx-text-fill: blue;
}
#title-text {
   -fx-font-size: 32px;
   -fx-font-family: "Arial Black";
   -fx-fill: #818181;
   -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );
}
#graphics {
  -fx-border-insets: 5;
  -fx-border-color: black;
}
.status-bar {
  -fx-padding: 5;
  -fx-alignment: center;
}
.status-bar Label {
  -fx-border-color: black;
}
.status-bar #progress {
  -fx-border-color: blue;
}